In [51]:
import pandas as pd 
import numpy as np

In [ ]:
#overall cycle

""" so lets take example of mode 1 and we have total 468992 datapoints for mode1 means 468992 cycle & we will increment by 1
    for every datapoint as we did for cycle for mode1 and sample 001"""

all_mode=np.unique(data_final["mode"].values)
data_final=data_final.assign(tot_cycle=" ")
for i in all_mode:
    i=int(i)
    cycle=0
    for row in data_final.itertuples():
        mode=row[10]
        index=row[0]
        if i==mode:
            cycle +=1
            data_final.at[index,"tot_cycle"]=cycle

            
#lets create remaining useful life based on tot_cycle

""" so lets take example of mode 1 my tot_rulL will be 468992-1 as there 
    are still 468992 reading or cycles needs to be complete, same thing i will repeat for remaining datapoints in 
    my data like for 2nd datapoint i will be having 468992-2 and it goes on and will do same for others mode also """

tot_rul = pd.DataFrame(data_final.groupby('mode')['tot_cycle'].max()).reset_index()
tot_rul.columns = ['mode', 'max']
print (tot_rul.head())
data_final = data_final.merge(tot_rul, on=['mode'], how='left')
data_final['Tot_RUL'] =data_final['max'] - data_final['tot_cycle']
data_final.drop('max', axis=1, inplace=True)

In [52]:
data = pd.read_csv('data.csv')
data.head()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle,RUL,tot_cycle,Tot_RUL
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0.0,1,2047,1,204799
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0.0,2,2046,2,204798
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0.0,3,2045,3,204797
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0.0,4,2044,4,204796
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0.0,5,2043,5,204795

In [53]:
data["Actual_Force"] = data["As"].diff(1) / 0.004

data["Film_Force"] = data["pAs"].diff(1) / 0.004
data.fillna(0, inplace=True)

In [54]:
data.head()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle,RUL,tot_cycle,Tot_RUL,Actual_Force,Film_Force
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0.0,1,2047,1,204799,0.000000,0.000000
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0.0,2,2046,2,204798,-30040.649415,-6291.992188
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0.0,3,2045,3,204797,11157.958985,-1887.451172
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0.0,4,2044,4,204796,-7724.731445,6291.748047
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0.0,5,2043,5,204795,4291.503905,-1258.300780

In [55]:
data.describe()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle,RUL,tot_cycle,Tot_RUL,Actual_Force,Film_Force
count,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06,1.062912e+06
mean,4.102069e+00,-1.206338e-01,-5.472746e-05,3.371415e+08,1.945795e+03,1.488169e+08,5.367032e+03,9.847591e-01,1.927328e+03,2.109827e+00,2.588439e+02,1.024500e+03,1.023500e+03,9.936401e+04,9.936301e+04,3.666073e+00,-1.705391e+00
std,2.364827e+00,6.078708e-01,1.212122e-01,5.466868e+08,4.873922e+03,2.711355e+08,3.382194e+03,3.437204e-01,6.559047e+02,1.498066e+00,1.500495e+02,5.912069e+02,5.912069e+02,6.012118e+04,6.012118e+04,5.027368e+04,3.276464e+04
min,4.000000e-03,-6.560303e+00,-1.888258e+00,-2.039056e+09,-9.482574e+03,1.936250e+05,-2.013385e+01,-9.143658e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-5.351543e+06,-3.656820e+06
25%,2.056000e+00,-3.696310e-01,-2.201461e-02,8.626082e+07,-1.908875e+03,2.136702e+07,3.032669e+03,8.384416e-01,1.500000e+03,1.000000e+00,1.290000e+02,5.127500e+02,5.117500e+02,4.536400e+04,4.536300e+04,-1.287460e+04,-8.808533e+03
50%,4.104000e+00,-1.187128e-01,6.456900e-04,1.919407e+08,2.595520e+03,7.259557e+07,4.582979e+03,9.711797e-01,1.800000e+03,2.000000e+00,2.590000e+02,1.024500e+03,1.023500e+03,9.850900e+04,9.850800e+04,-2.574951e+03,-6.291504e+02
75%,6.152000e+00,2.546913e-01,2.380830e-02,5.691639e+08,5.441666e+03,1.602507e+08,5.823731e+03,1.105926e+00,2.280000e+03,3.000000e+00,3.890000e+02,1.536250e+03,1.535250e+03,1.516550e+05,1.516540e+05,1.373291e+04,8.179443e+03
max,8.199999e+00,3.856873e+00,2.021531e+00,1.911789e+09,1.792831e+04,1.453671e+09,1.797202e+04,3.567880e+00,3.600000e+03,5.000000e+00,5.180000e+02,2.048000e+03,2.047000e+03,2.048000e+05,2.047990e+05,4.653740e+06,3.585722e+06

In [56]:
conditions = [(data['Tot_RUL'] <= 100000),
    (data['Tot_RUL'] >= 100000)]
choices = [0.0, 1.0]
data["label"] = np.select(conditions, choices, default=0)
data.head()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle,RUL,tot_cycle,Tot_RUL,Actual_Force,Film_Force,label
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0.0,1,2047,1,204799,0.000000,0.000000,1.0
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0.0,2,2046,2,204798,-30040.649415,-6291.992188,1.0
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0.0,3,2045,3,204797,11157.958985,-1887.451172,1.0
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0.0,4,2044,4,204796,-7724.731445,6291.748047,1.0
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0.0,5,2043,5,204795,4291.503905,-1258.300780,1.0

In [58]:
data.to_csv("data_sckit.csv",index=False, encoding='utf-8-sig')